{% extends 'guestbook/base.html' %}

{% block content %}
        {% if object %}
                <form method="POST">
                        {% csrf_token %}
                        <h2> DELETE POST #{{object.id }}</h2>
                        <p> Are you sure you want to delete {{object.name}}<br>{{object.message}}?</p>
                        {{form}}
                         <input type="submit" value="confirm" />
                        <a href="{% url 'guestbook:list' %}" >cancel </a>
                </form>
        {% else %}
                <b> Post not found </b>
        {% endif %}
{% endblock %}




